

// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/docs/v8/framework/articles/ValoExamples.html

@import "../valo/valo.scss";

@mixin instagual_style {
    @include valo;
    // Insert your own theme rules here
    #login_layout{
        background-color: rgb(39, 114, 182);
    }
	#cabecera{
		background-color: rgb(39, 114, 182);
		color: white;
	}
	
    .button_inicioSesion {
        @extend .v-button;
    }
    
    .vertical_layout{
    	@extend .v-verticallayout;
        background-color: white;
    }
    .imgRedonda {
    	width:300px;
    	height:300px;
    	border-radius:150px;
	}
	.barraHerramientas{
		position: fixed;
		bottom: 0;
		right: 0;
		color: white;
		background-color: rgb(39, 114, 182);
	}
	.v-video {
      max-height:   100%!important;
      max-width:    100%!important;
      
      height:       100%!important;
      width:        100%!important;
  }
    .button_inicioSesion {
        @extend .v-button;
    }
    //barra principal
    #barra-principal{
        background-color: rgb(39, 114, 182); 
    }
    .white_text{
        color: white;
    }
    .no-split-panel{
        width: 0px;
    }
    //Barra usuario
    #imagen-barra-usuario{
        margin-left: 10px;
    }
    .barraUsuario{
        padding-top: 2px;
        padding-bottom: 2px;
        //border: solid 1px;
    }

    //caja del perfil de usuario
    #cajaUsuarioInvitado{
        padding-top: 2px;
        padding-bottom: 2px;
        //border: solid 1px;
    }
 
    
    .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
//bloque actividad
.actividadElement{
    border:  rgb(39, 114, 182) 2px solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
}

//comentarios
.comentarioVista{
    border:  rgb(39, 114, 182) 2px solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
}
.eliminarComentarioButton{
    background-color:  rgb(39, 114, 182) !important;
    margin-right: 5px;
}
.botonSeguir{
    background-color:  rgb(39, 114, 182) !important;
    margin-left: 5px;
}
}
